@font-face {
  font-family: 'ico';
  src:
    url('fonts/ico.ttf?tuwxve') format('truetype'),
    url('fonts/ico.woff?tuwxve') format('woff'),
    url('fonts/ico.svg?tuwxve#ico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-star:before {
  content: "\e900";
}
.ico-tape:before {
  content: "\e951";
}
.ico-stopwatch:before {
  content: "\e952";
}
.ico-lab:before {
  content: "\e94d";
}
.ico-mathematics:before {
  content: "\e94e";
}
.ico-science:before {
  content: "\e94f";
}
.ico-trophy:before {
  content: "\e950";
}
.ico-scan-text:before {
  content: "\e94c";
}
.ico-models:before {
  content: "\e94a";
}
.ico-shark:before {
  content: "\e94b";
}
.ico-game:before {
  content: "\e949";
}
.ico-legal:before {
  content: "\e93c";
}
.ico-ui:before {
  content: "\e93d";
}
.ico-write:before {
  content: "\e93e";
}
.ico-assistants:before {
  content: "\e93f";
}
.ico-designers:before {
  content: "\e940";
}
.ico-education:before {
  content: "\e941";
}
.ico-engineers:before {
  content: "\e942";
}
.ico-finance:before {
  content: "\e943";
}
.ico-productivity:before {
  content: "\e944";
}
.ico-programming:before {
  content: "\e945";
}
.ico-prompts:before {
  content: "\e946";
}
.ico-recommendations:before {
  content: "\e947";
}
.ico-social-media:before {
  content: "\e948";
}
.ico-translation-full:before {
  content: "\e93b";
}
.ico-link:before {
  content: "\e91f";
}
.ico-auto:before {
  content: "\e939";
}
.ico-lang:before {
  content: "\e91b";
}
.ico-openai:before {
  content: "\e936";
}
.ico-apps:before {
  content: "\e937";
}
.ico-translation:before {
  content: "\e938";
}
.ico-history-back:before {
  content: "\e901";
}
.ico-list:before {
  content: "\e902";
}
.ico-search:before {
  content: "\e903";
}
.ico-add:before {
  content: "\e904";
}
.ico-back:before {
  content: "\e905";
}
.ico-cancel:before {
  content: "\e906";
}
.ico-clear:before {
  content: "\e907";
}
.ico-close:before {
  content: "\e908";
}
.ico-column-close:before {
  content: "\e909";
}
.ico-column-open:before {
  content: "\e90a";
}
.ico-config:before {
  content: "\e90b";
}
.ico-copy-ok:before {
  content: "\e90c";
}
.ico-copy:before {
  content: "\e90d";
}
.ico-dark:before {
  content: "\e90e";
}
.ico-down:before {
  content: "\e90f";
}
.ico-download:before {
  content: "\e910";
}
.ico-editor:before {
  content: "\e911";
}
.ico-export:before {
  content: "\e912";
}
.ico-eye-close:before {
  content: "\e913";
}
.ico-eye-open:before {
  content: "\e914";
}
.ico-file:before {
  content: "\e915";
}
.ico-files:before {
  content: "\e916";
}
.ico-full-screen:before {
  content: "\e917";
}
.ico-help:before {
  content: "\e918";
}
.ico-history-1:before {
  content: "\e919";
}
.ico-history:before {
  content: "\e91a";
}
.ico-key:before {
  content: "\e91c";
}
.ico-layout:before {
  content: "\e91d";
}
.ico-light:before {
  content: "\e91e";
}
.ico-mail:before {
  content: "\e920";
}
.ico-message:before {
  content: "\e921";
}
.ico-mic:before {
  content: "\e922";
}
.ico-min-screen:before {
  content: "\e923";
}
.ico-model:before {
  content: "\e924";
}
.ico-more:before {
  content: "\e925";
}
.ico-new:before {
  content: "\e926";
}
.ico-organization:before {
  content: "\e927";
}
.ico-paste:before {
  content: "\e928";
}
.ico-push-left:before {
  content: "\e929";
}
.ico-push-right:before {
  content: "\e92a";
}
.ico-rating:before {
  content: "\e92b";
}
.ico-refresh:before {
  content: "\e92c";
}
.ico-reload:before {
  content: "\e92d";
}
.ico-send:before {
  content: "\e92e";
}
.ico-setting:before {
  content: "\e92f";
}
.ico-share:before {
  content: "\e930";
}
.ico-stop:before {
  content: "\e931";
}
.ico-theme:before {
  content: "\e932";
}
.ico-trash:before {
  content: "\e933";
}
.ico-up:before {
  content: "\e934";
}
.ico-user:before {
  content: "\e935";
}
.ico-waring:before {
  content: "\e93a";
}
