name: prune ghcr.io

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  prune:
    runs-on: ubuntu-latest
    steps:
    - name: Prune
      uses: vlaurin/action-ghcr-prune@v0.6.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        organization: fhswf
        container: openai-ui
        dry-run: false 
        keep-last: 10
        prune-untagged: true
        prune-tags-regexes: |
          ^sha.*
        keep-tags: |
          latest